*, *::before, *::after{
  box-sizing: border-box; margin: 0px; padding: 0px;
}
main{
  position: fixed; left: 0px; top: 0px; width:100vw; height: 100%;
  display: flex; justify-content: center; align-items: center;
  z-index: 99;
  background-image: url("koreabg.webp"); /* The image used */
  background-color: LightSteelBlue; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
section{
  border: 2px dotted green;
  width: 100vmin;
  height: 100%;
  display: flex; justify-content: flex-start; align-items: center; flex-direction: column;
}
video{
  /* width: 90vmin; height: 90vmin; */
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.9) 0px 3px 12px 0px;
  margin: 2vh;
  transition: all 1s;
}
@media (orientation: landscape) {
  video{width: 40vh; height: 40vh;}
}
@media (orientation: portrait) {
  video{width: 80vmin; height: 80vmin;}
}
.videoBitinceGozuk{
  /* visibility: hidden; */ /*Too late until css loads -> move to inline*/
  opacity: 0.1;
  display: flex; justify-content: flex-start; align-items: center; flex-direction: column;
  border: 2px dotted blue;
  transition: opacity 2s;
}
h2{
  font-family: "SF Pro","Helvetica","Roboto","Segoe UI Light","Segoe UI",sans-serif;
  text-align: justify; text-align-last: left;
  padding: 1ch; margin: 1ch;
  background-color: rgba(0,0,0,0.44);
  color: white;
  border-radius: 10px;
  transform: scale(1);
  transition: all 1s;
  font-size: calc(2vmin + 8px);
}
textarea{
  min-width:85vmin; max-width:95vmin;
  min-height: 15vh; max-height: 30vh;
  font-size: 17px;
  padding: 2px;
}
button{
  padding: 7px; margin: 10px;
}
.gonderilinceGozuk{
  display: none;
  /* border: 2px dotted red; */
}
